$primary-color: #54778e !default;
$global-shadow: 0 2px 0 #DDD;
$second-bg: #f8f8f8;
$third-bg: #f0f0f0;
$document-cell-padding: 8px 10px;
$document-line-margin: 3px;

.project-marge {
  margin-top: 50px;
}

.project-documents input[type="radio"] {
  margin: 0px;
}
.project-documents-radios {
  margin-bottom: 15px;
  input[type="radio"] {
    margin-top: 10px;
  }
}
.project-document-new {
  margin-bottom: 10px;
  margin-right: 0;
  float: none;
  display: flex;
  justify-content: end;
  align-items: center;
}
.project-documents {
  .project-documents-title {
    background-color: $primary-color;
    font-size: 18px;
    color: #FFF;
    padding: 12px 14px;
    @include box-shadow($global-shadow);
    margin-bottom: $document-line-margin;
  }
  .project-documents-list {
    margin-bottom: 50px;
    ul {
      margin: 0;
      li.document {
        background-color: $second-bg;
        display: table;
        width: 100%;
        @include box-shadow($global-shadow);
        margin-bottom: $document-line-margin;
        .document-cell {
          padding: $document-cell-padding;
          display: table-cell;
          vertical-align: middle;
	  a {
            display: inline-block;
            width: 16px;
            margin-right: 3px;
          }
        }
        .document-files {
          background-color: $third-bg;
          border-right: 1px solid #e5e5e5;
          width: 60px;
          .document-file {
            font-size: 16px;
            color: #222;
            margin-bottom: 3px;
            &:hover {
              color: $primary-color;
            }
            &:nth-child(odd) {
              margin-right: 3px;
            }
          }
        }
        .document-infos {
          .document-info-header {
            overflow: hidden;
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 4px;
            .document-info-icon,
            .document-info-title {
              float: left;
              margin-right: 14px;
              color: #222;
              //&:hover {
              //  color: $primary-color;
              //}
            }
            .document-info-tags {
              float: left;
              .document-info-tag {
                background-color: #666666;
                @include border-radius(3px);
                margin-right: 4px;
                color: #FFF;
                font-size: 11px;
                padding: 0 4px;
                float: left;
                &:last-child {
                  margin-right: 0;
                }
                // &:hover {
                //   background-color: $primary-color;
                // }
              }
            }
          }
          .document-info-resume {
            font-size: 11px;
            color: #666;
          }
        }
        .document-date {
          font-size: 12px;
          width: 100px;
          text-align: center;
        }
        .document-actions {
          font-size: 12px;
          width: 100px;
          text-align: center;
        }
      }
    }
  }
}

#user_url {
  width: 90%;
}

/* STYLE RECHERCHE DATACITE */
.box.datacite {
  h3 {
    padding-left: 180px;
  }
  .actions {
    a {
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      background-color: #17C4BB;
      color: #FFF;
      border: none;
      padding: 7px 15px;
      margin-left: 0px;
      height: auto;
      display: block;
      float: left;
    }
  }

  .datacite-dois {
    padding-left: 180px;
    padding-right: 25px;
    
    .datacite-doi {
      color: #000000;

      &:hover {
        text-decoration: underline;
      }

      h4 {
        border-bottom: none;
        font-weight: bold;
        margin-bottom: 0;
      }

      .publication {
        font-size: 0.875rem;
      }

      .abstract {
        font-size: 0.850rem;
        margin-top: 10px;
      }
    }
  }
}

.alert {
  font-weight: bold;
  margin-bottom: 15px;
  border: 1px solid #c4c8cb;
  background-color: #e2e3e5;
  padding: 10px 25px;
  border-radius: 5px;

  &.alert-warning {
    background-color: #fff3cd;
    border-color: #ffe69c;
  }
}
